---
import Layout from '../layouts/Layout.astro';
import FallingLeaves from '../components/FallingLeaves.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Gallery from '../components/Gallery.astro';
import BeforeAfter from '../components/BeforeAfter.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <FallingLeaves />
  <Navbar />
  <main>
    <Hero />
    <Services />
    <About />
    <Gallery />
    <BeforeAfter />
    <Contact />
  </main>
  <Footer />
</Layout>
